.second-img{
   display:flex;
   align-items:center;
   margin: 2rem 2rem;
}

.left-img{
   width:40vw;
   height:40vw;
}

.right-img{
   width:20vw;
   height:20vw;
}

.background-box{
   background-color: bisque;
   width:50vw;
   height:50vw;
   z-index: -1;
   position: absolute;
   right:2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

